 /*リセットCSSここから*/
    @charset "utf-8";
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
      display: block;
    }
    
.top_navbar {
    background: ;
}

.body {
    background-color: #AFEEEE;
}

.navbar-brand {
    color:blue;
}

/*present_remainderの箱*/
.box25{
    position: relative;
    background: #8EB8FF;
    box-shadow: 0px 0px 0px 5px #8EB8FF;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
}
.box25:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #4689FF #8EB8FF #4689FF;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.box25 p {
    margin: 0; 
    padding: 0;
}

/*userlistの箱*/

.boxmi4{
  background-color: #eee;
  border: solid 2px #4689FF;
  margin: 2em 0;
}

.user-content{
  line-height: 2;
  background-image:
  linear-gradient(90deg, rgba(70, 137, 255, 0) 0%, rgba(70, 137, 255, 0) 50%, #eee 0%, #eee 100%), linear-gradient(180deg, rgba(70, 137, 255, 0) 0%, rgba(70, 137, 255, 0) 95%, #4689FF 100%);
  background-size: 8px 100%,100% 2em;
  padding: 2em 0em 1.98em 1em;
  color: #4689FF;
}

/*ウェルカムのところ*/

.box15 {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    color: #565656;
    background: #ffeaea;
    box-shadow: 0px 0px 0px 10px #ffeaea;
    border: dashed 2px #ffc3c3;
    border-radius: 8px;
}
.box15 p {
    margin: 0; 
    padding: 0;
}

.col-img {
  text-align: center;
}

/*フォーム関係*/
.formarea{
  width:60%;
}


/*ボタン定義*/
.btn-square {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btn-square-pop {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-pop:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.btn-square-green {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #90EE90;/*背景色*/
  border-bottom: solid 2px #32CD32;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-green:active {
  border-bottom: solid 2px #90EE90;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.btn-square-pink {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #FFC0CB;/*背景色*/
  border-bottom: solid 2px #FFB6C1;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.btn-square-pink:active {
  border-bottom: solid 2px #FFC0CB;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.btn-flat-dashed-border {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #666;
  border: dashed 1px #666;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-dashed-border:hover {
  border-style: dotted;
  color: #ddd;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  background: #FF82B2;
  color: #eee;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #FF367F;
  color:#eee;
}